<ion-view view-title="Übersicht Fragebogen">
  <ion-content scroll="false">
    <div class="fill-vertical-space">
      <div class = "row">
        <div class= "col col-40">
          <button class="button button-clear button-block" ng-click="goMsis()">
            <img src="img/frag.png" height="100" alt=" "/>
          </button>
        </div>
      <div class="col col-60">
        <button class="button button-large button-light" ng-click="goMsis()" translate="MSIS-29"/>
      </div>
    </div>
    <div class = "row">
      <div class= "col"></div>
    </div>
    <div class = "row">
      <div class= "col"></div>
    </div>
  </div>
  </ion-content>
</ion-view>
