<ion-view view-title="{{'QUESTIONNAIRES' | translate}}">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out" ng-click="doLogout()" translate="LOGOUT"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button icon-left ion-home" ng-click="goHome()" translate="HOME"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
      <div class="row" style="height:33vh">
        <div class="col col-20 col-offset-20">
            <img src="img/frag.png" height="50%" alt=" " ng-click="goMsis()"/>
        </div>
      <div class="col col-60">
        <button class="button button-block button-large button-light" ng-click="goMsis()" translate="MSIS-29"/>
      </div>
    </div>

    <div class="row" style="height:33vh">
      <div class="col col-20 col-offset-20">
          <img src="img/frag.png" height="50%" alt=" " ng-click="goFSS()"/>
      </div>
    <div class="col col-60">
      <button class="button button-block button-large button-light" ng-click="goFSS()" translate="FATIGUE_SS"/>
    </div>
  </div>
  </ion-content>
</ion-view>
