<ion-view view-title="Übungen">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out" ng-click="doLogout()" translate="Logout"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button icon-left ion-home" ng-click="goHome()" translate="Übersicht"></button>
  </ion-nav-buttons>
  <ion-content scroll="false">
    <div class="fill-vertical-space">
    <div class = "row">
      <div class= "col col-40">
        <button class="button button-clear button-block" ng-click="goRouteAnl()">
          <img src="img/frag.png" height="150" alt=""><img>
        </button>
      </div>
      <div class="col col-60">
        <button class="button button-block button-large button-light" ng-click="goRouteAnl()" translate="Route"/>
      </div>
    </div>
    <div class = "row">
      <div class= "col col-40">
        <button class="button button-clear button-full" ng-click="goZS()">
          <img src="img/frag.png" height="150" alt=""><img>
        </button>
      </div>
      <div class="col col-60">
        <button class="button button-block button-large button-light" ng-click="goZS()" translate="Z-S"/>
      </div>
    </div>
    <div class = "row">
      <div class= "col col-40">
        <button class="button button-clear button-full" ng-click="goMotorik()">
          <img src="img/frag.png" height="150" alt=""><img>
        </button>
      </div>
      <div class="col col-60">
        <button class="button button-block button-large button-light" ng-click="goMotorik()" translate="Motorik"/>
      </div>
    </div>
  </div>
  </ion-content>
</ion-view>
