<ion-view view-title="Übungen">
  <ion-nav-buttons side="left">
    <button class="button" ng-click="goHome()" translate="Übersicht">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button" ng-click="doLogout()">
      Logout
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="item item-button-left">
      <button class="ion-button" ng-click="goRoute()">
        <img src="img/max.png" alt=" " height="200px"/>
      </button>
      <p translate="Route"></p>
    </div>
    <div class="item item-button-left">
    <button class="ion-button" ng-click="goZS()">
      <img src="img/max.png" alt=" " height="200px"/>
    </button>
        <p translate="Z-S"></p>
      </div>
        <div class="item item-button-left">
        <button class="ion-button" ng-click="goMotorik()">
          <img src="img/max.png" alt=" " height="200px"/>
        </button>
        <p translate="Motorik"></p>
      </div>
  </ion-content>
</ion-view>
