<ion-view view-title="{{'EXCERCISES' | translate}}">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out" ng-click="doLogout()" translate="LOGOUT"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button icon-left ion-home" ng-click="goHome()" translate="HOME"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="row" style="height:33vh">
      <div class="col col-20 col-offset-20">
        <img src="img/frag.png" height="50%" alt="" ng-click="goRouteAnl()"><img>
      </div>
      <div class="col col-60">
        <button class="button button-block button-large button-light" ng-click="goRouteAnl()" translate="ROUTE"/>
      </div>
    </div>
    <div class="row" style="height:33vh">
      <div class="col col-20 col-offset-20">
        <img src="img/frag.png" height="50%" alt="" ng-click="goZS_Instruction()"><img>
      </div>
      <div class="col col-60">
        <button class="button button-block button-large button-light" ng-click="goZS_Instruction()" translate="SYMBOL_DIGIT"/>
      </div>
    </div>
    <div class="row" style="height:33vh">
      <div class="col col-20 col-offset-20">
        <img src="img/frag.png" height="50%" alt="" ng-click="goMotorik()"><img>
      </div>
      <div class="col col-60">
        <button class="button button-block button-large button-light" ng-click="goMotorik()" translate="MOTOR_SKILLS"/>
      </div>
    </div>
  </div>
</ion-content>
</ion-view>
