<ion-view view-title="{{'CONGRATULATIONS' | translate}}">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out" ng-click="doLogout()" translate="LOGOUT"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="row" style="height:5vh"></div>
    <h1 align="center" translate="CONGRATULATIONS_TEXT"></h1>
    <div class="row" style="height:5vh"></div>
    <div class="row" style="height:30vh">
      <img src="img/star.png" class="center" height="100%">
    </div>
    <div class="row">
      <div class="col" translate="COMMENT"></div>
    </div>
    <div class="row" style="height:15vh">
      <div class="col">
          <label class="item item-input">
            <textarea ng-model="comment.text" rows="4" cols="50"></textarea>
          </label>
      </div>
    </div>
    <div class="row">
      <div class="col col-10"></div>
      <div class="col">
        <button class="button button-large button-block button-positive" ng-click="goHome(comments)" translate="HOME"/>
      </div>
      <div class="col col-10"></div>
      <div class="col">
        <button class="button button-large button-block button-positive" ng-click="goAu_Uebungen(comments)" translate="DO_MORE_EXCERCISES"/>
      </div>
      <div class="col col-10"></div>
    </div>
  </ion-content>
</ion-view>
