<ion-view view-title="MitrendS App 1.0">
  <ion-nav-buttons side="left">
    <button class="button" ng-click="goImpressum()" translate="Impressum">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button" ng-click="doLogout()">
      Logout
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="item item-button-left">
      <button class="ion-button" ng-click="goKSym_Erf()">
        <img src="img/bfh.png" alt=" " height="200px"/>
      </button>
      <p translate="KSym_Erf"></p>
    </div>
    <div class="item item-button-left">
    <button class="ion-button" ng-click="goAu_Frageb()">
      <img src="img/bfh.png" alt=" " height="200px"/>
    </button>
        <p translate="Frageb"></p>
      </div>
        <div class="item item-button-left">
        <button class="ion-button" ng-click="goAu_Uebungen()">
          <img src="img/bfh.png" alt=" " height="200px"/>
        </button>
        <p translate="Uebung_Durchf"></p>
      </div>
  </ion-content>
</ion-view>
