<ion-view view-title="{{'IMPRESSUM' | translate}}">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out" ng-click="doLogout()" translate="Logout"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button icon-left ion-home" ng-click="goHome()" translate="OVERVIEW"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
      <div class="row" style="height:33vh">
        <img src="img/MitrendS.png" class="center" height="100%"/>
      </div>

      <div class="row" style="height:10vh">
        <div class="col col-50" translate="IMP_TEXT"></div>
        <div class="col col-offset-25" translate="IMP_CONTACT"></div>
      </div>
      <div class="row" style="height:20vh">
        <div class="col-25 col-offset-75">
          <div class="button button-large button-positive" translate="DATAPROTECTION" ng-click="showDATATEXT()"></button>
        </div>
      </div>
    </div>
      <div class="row" style="height:33vh">
        <div class="col col-50" style="width:100%"/>
          <img src="img/usz.png" class ="center"width="100%">
        </div>
        <!--<div class="col"></div>-->
        <div class="col col-50" style="witdh:100%">
          <img src="img/bfh.png" class="center" width="50%"/>
        </div>
      </div>
      </ion-content>
    </ion-view>
