<ion-view view-title="Kernsymptome">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out" ng-click="doLogout()" translate="Logout"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button icon-left ion-home" ng-click="goHome()" translate="Übersicht"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <form>
      <div class = "row">
        <div class = "col col-100" translate="Q1core"></div>
      </div>
      <div class = "row">
        <div class = "col col-10"><input type="radio" ng-model="YNrighthanded" name="YNrighthanded" value="y"><label for="y" translate="yes"></label></div>
        <div class = "col col-10"><input type="radio" ng-model="YNrighthanded" name="YNrighthanded" value="n"><label for="n" translate="no"></label></div>
      </div>
      <div class = "row">
        <div class = "col col-100"></div>
      </div>
      <div class = "row">
        <div class = "col col-100" translate="Q2core"></div>
      </div>
      <div class = "row">
        <div class = "col col-10"><input type="radio" ng-model="YNmovehand" name="YNmovehand" value="y"><label for="y" translate="yes"></label></div>
        <div class = "col col-10"><input type="radio" ng-model="YNmovehand" name="YNmovehand" value="n"><label for="n" translate="no"></label></div>
      </div>
      <div class = "row">
        <div class = "col col-100"></div>
      </div>
      <div class = "row">
        <div class = "col col-100" translate="Q3core"></div>
      </div>
      <div class = "row">
        <div class = "col col-10"><input type="radio" ng-model="YNfeelhand" name="YNfeelhand" value="y"><label for="y" translate="yes"></label></div>
        <div class = "col col-10"><input type="radio" ng-model="YNfeelhand" name ="YNfeelhand" value="n"><label for="n" translate="no"></label></div>
      </div>
      <div class = "row">
        <div class = "col col-100"></div>
      </div>
      <div class = "row">
        <div class = "col col-100" translate="Q4core"></div>
      </div>
      <div class = "row">
        <div class = "col col-50">
          <div class="range" >
              <input type="range" min="0" max="10" value="user.value" step="1" snaps="true" ng-model="user1.value">
                        {{user1.value}}
                        /{{user1.max}}
          </div>
        </div>
      </div>
      <div class = "row">
        <div class = "col col-100"></div>
      </div>
      <div class = "row">
        <div class = "col col-100" translate="Q5core"></div>
      </div>
      <div class = "row">
        <div class = "col col-50">
          <div class="range" >
              <input type="range" min="0" max="4" value="user.value" step="1" snaps="true" ng-model="user2.value">
                        {{user2.value}}
                        /{{user2.max}}
          </div>
        </div>
      </div>
      <div class = "row">
        <div class = "col col-100"></div>
      </div>
      <div class = "row">
        <div class = "col col-100" translate="Q6core"></div>
      </div>
      <div class = "row">
        <div class = "col col-10"><input type="radio" ng-model="YNthrust" name="YNthrust" value="y"><label for="y" translate="yes"></label></div>
        <div class = "col col-10"><input type="radio" ng-model="YNthrust" name="YNthrust" value="n"><label for="n" translate="no"></label></div>
      </div>
      <div class = "row">
        <div class = "col col-100"></div>
      </div>
      <div class = "row">
        <div class = "col col-100" translate="Q7core"></div>
      </div>
      <div class = "row">
        <div class = "col col-10"><input type="radio" ng-model="YNsymp" name="YNsymp" value="y"><label for="y" translate="yes"></label></div>
        <div class = "col col-10"><input type="radio" ng-model="YNsymp" name="YNsymp" value="n"><label for="n" translate="no"></label></div>
      </div>
      <div class = "row">
        <div class = "col col-offset-50"><input type="submit" ng-click="goHome()" translate="save"/></div>
      </div>
    </form>
  </ion-content>
</ion-view>
