<ion-view view-title="{{'LOGIN' | translate}}">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="switchLanguage('en')" translate="LANG_EN"></button>
    <button class="button" ng-click="switchLanguage('de')" translate="LANG_DE"></button>
    <button class="button" ng-click="switchLanguage('fr')" translate="LANG_FR"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <img src="img/MitrendS.png" class="center" height="30%">
    <i4mi-midata-login user="user" controller-name="I4MIMidataLoginController"></i4mi-midata-login>
    <div class="row">
      <div class="col col-center">
        <img src="img/usz.png" height="100px">
      </div>
      <div class="col"></div>
      <div class="col col-center">
        <img src="img/bfh.png" height="150px">
      </div>
    </ion-content>
  </ion-view>
