<ion-view view-title="Login">
  <ion-content class="padding">
    <img src="img/MitrendS.png" class="center" height="200px">
      <i4mi-midata-login user="user" controller-name="I4MIMidataLoginController"></i4mi-midata-login>
      <div class="row">
        <div class="col col-center">
          <img src="img/usz.png" height="100px">
        </div>
        <div class="col"></div>
        <div class="col col-center">
          <img src="img/bfh.png" height="150px">
        </div>
  </ion-content>
</ion-view>
