<ion-view view-title="{{'MSIS-29' | translate}}">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out" ng-click="doLogout()" translate="LOGOUT"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button icon-left ion-home" ng-click="goHome()" translate="OVERVIEW"></button>
  </ion-nav-buttons>
  <ion-content>
    <form name="MSIS" novalidate>
      <div class="fill-vertical space">
        <div class="row">
          <div class="col col-50" translate="MSISQS2"></div>
          <div class="col" id="radiolabels" ng-repeat="buttons in data.MSIS.RADIOS">{{buttons.label}}</div>
        </div>

        <div class="row">
          <div class="col col-50" translate="MSISQE19"></div>
          <div class="col" ng-repeat="buttons in data.MSIS.RADIOS">
            <input type="radio" ng-model="MSIS3" ng-value="{{buttons.id}}" name="MSISQE19" required ng-change="setValue({{buttons.id}})"/>
          </div>
        </div>
        <div class="row">
          <div class="col col-50" translate="MSISQE20"></div>
          <div class="col" ng-repeat="buttons in data.MSIS.RADIOS">
            <input type="radio" ng-model="MSIS3" ng-value="{{buttons.id}}" name="MSISQE20" required ng-change="setValue({{buttons.id}})"/>
          </div>
        </div>
        <div class="row">
          <div class="col col-50" translate="MSISQE21"></div>
          <div class="col" ng-repeat="buttons in data.MSIS.RADIOS">
            <input type="radio" ng-model="MSIS3" ng-value="{{buttons.id}}" name="MSISQE21" required ng-change="setValue({{buttons.id}})"/>
          </div>
        </div>
        <div class="row">
          <div class="col col-50" translate="MSISQE22"></div>
          <div class="col" ng-repeat="buttons in data.MSIS.RADIOS">
            <input type="radio" ng-model="MSIS4" ng-value="{{buttons.id}}" name="MSISQE22" required ng-change="setValue({{buttons.id}})"/>
          </div>
        </div>
        <div class="row">
          <div class="col col-50" translate="MSISQE23"></div>
          <div class="col" ng-repeat="buttons in data.MSIS.RADIOS">
            <input type="radio" ng-model="MSIS4" ng-value="{{buttons.id}}" name="MSISQE23" required ng-change="setValue({{buttons.id}})"/>
          </div>
        </div>
        <div class="row">
          <div class="col col-50" translate="MSISQE24"></div>
          <div class="col" ng-repeat="buttons in data.MSIS.RADIOS">
            <input type="radio" ng-model="MSIS4" ng-value="{{buttons.id}}" name="MSISQE24" required ng-change="setValue({{buttons.id}})"/>
          </div>
        </div>

        <div class="row">
              <div class="col col-10"></div>
          <div class="col">
          <button class="button button-positive button-block" ng-click="goMsis3()" translate="BACK"/>
        </div>
        <div class="col col-10"></div>
        <div class="col">
          <button class="button button-positive button-block" ng-click="goMsis5()" ng-disabled="MSIS.MSIS4.$valid" translate="NEXT"/>
        </div>
            <div class="col col-10"></div>
      </div>
      </form>
    </ion-content>
  </ion-view>
