<ion-view view-title="MSIS-29">
  <ion-content>
    <form name="form" novalidate class="css-form">
       <div ng-show="form.$submitted">
         <div class="error" ng-repeat="text in msisTexts1" ng-show="form[text.id].$error.required">Please rate <span ng-bind-html="text.text"></span></div>
         <div class="error" ng-repeat="text in msisTexts2" ng-show="form[text.id].$error.required">Please rate <span ng-bind-html="text.text"></span></div>
       </div>
<div class="fill-vertical space">
  <div class="row">
    <div class="col col-60" translate="MsisQs1"></div>
    <div class="col" ng-repeat="buttons in data.Msis.Radios">{{buttons.label}}</div>
  </div>
  <div class="row" ng-repeat="text in data.Msis.Questions1">
    <div class="col col-60"><span ng-bind-html="text.text"></span></div>
      <div class="col" ng-repeat="buttons in data.Msis.Radios">
        <input type="radio" ng-model="text.value" value="{{buttons.id}}" name="{{text.id}}" required="yes"/>
      </div>
  </div>

  <div class="row">
      <div class="col col-60" translate="MsisQs1"></div>
  </div>
  <div class="row" ng-repeat="text in data.Msis.Questions2">
      <div class="col col-60"><span ng-bind-html="text.text"></span></div>
        <div class="col" ng-repeat="buttons in data.Msis.Radios">
          <input type="radio" ng-model="text.value" value="{{buttons.id}}" name="{{text.id}}" required="yes"/>
        </div>
  </div>
  <div class="row">
    <input type="submit" value="Weiter" ng-click="goMsis2" />
  </div>

    </form>
  </ion-content>
  </ion-view>
