<ion-view view-title="{{'MSIS-29' | translate}}">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out" ng-click="doLogout()" translate="LOGOUT"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button icon-left ion-home" ng-click="goHome()" translate="OVERVIEW"></button>
  </ion-nav-buttons>
  <ion-content>
    <form name="MSIS" novalidate>
      <div class="fill-vertical-space">
        <div class="row" style="height:5vh"></div>
        <div class="row" style="height:8vh">
          <div class="col col-50" translate="MSISQS1"></div>
          <div class="col" id="radiolabels" ng-repeat="buttons in data.MSIS.RADIOS">{{buttons.label}}</div>
        </div>
        <div class="row" style="height:3vh"></div>
        <div class="row" style="height:8vh">
          <div class="col col-50" id="questionlabels" translate="MSISQE1"></div>
          <div class="col" ng-repeat="buttons in data.MSIS.RADIOS">
            <input type="radio" ng-model="MSIS1" ng-value="{{buttons.id}}" name="MSISQE1" required ng-change="setValue({{buttons.id}})"/>
          </div>
        </div>
        <div class="row" style="height:8vh">
          <div class="col col-50" translate="MSISQE2"></div>
          <div class="col" ng-repeat="buttons in data.MSIS.RADIOS">
            <input type="radio" ng-model="MSIS1" ng-value="{{buttons.id}}" name="MSISQE2" required ng-change="setValue({{buttons.id}})"/>
          </div>
        </div>
        <div class="row" style="height:8vh">
          <div class="col col-50" translate="MSISQE3"></div>
          <div class="col" ng-repeat="buttons in data.MSIS.RADIOS">
            <input type="radio" ng-model="MSIS1" ng-value="{{buttons.id}}" name="MSISQE3" required ng-change="setValue({{buttons.id}})"/>
          </div>
        </div>
        <div class="row" style="height:3vh"></div>
        <div class="row" style="height:8vh">
          <div class="col col-50" translate="MSISQS2"></div>
        </div>
        <div class="row" style="height:3vh"></div>
        <div class="row" style="height:8vh">
          <div class="col col-50" translate="MSISQE4"></div>
          <div class="col" ng-repeat="buttons in data.MSIS.RADIOS">
            <input type="radio" ng-model="MSIS1" ng-value="{{buttons.id}}" name="MSISQE4" required ng-change="setValue({{buttons.id}})"/>
          </div>
        </div>
        <div class="row" style="height:8vh">
          <div class="col col-50" translate="MSISQE5"></div>
          <div class="col" ng-repeat="buttons in data.MSIS.RADIOS">
            <input type="radio" ng-model="MSIS1" ng-value="{{buttons.id}}" name="MSISQE5" required ng-change="setValue({{buttons.id}})"/>
          </div>
        </div>
        <div class="row" style="height:8vh">
          <div class="col col-50" translate="MSISQE6"></div>
          <div class="col" ng-repeat="buttons in data.MSIS.RADIOS">
            <input type="radio" ng-model="MSIS1" ng-value="{{buttons.id}}" name="MSISQE6" required ng-change="setValue({{buttons.id}})"/>
          </div>
        </div>
        <div class="row" style="height:8vh">
          <div class="col col-50" translate="MSISQE7"></div>
          <div class="col" ng-repeat="buttons in data.MSIS.RADIOS">
            <input type="radio" ng-model="MSIS1" ng-value="{{buttons.id}}" name="MSISQE7" required ng-change="setValue({{buttons.id}})"/>
          </div>
        </div>
        <div class="row" style="height:3vh"></div>
        <div class="row" style="height:8vh">
          <div class="col col-10"></div>
          <div class="col">
            <button class="button button-positive button-block" ng-click="goMsis2()" ng-disabled="MSIS.MSIS1.$valid" translate="NEXT"/>
          </div>
          <div class="col col-10"></div>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
