<ion-view view-title="{{'MSIS-29' | translate}}">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out" ng-click="doLogout()" translate="LOGOUT"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button icon-left ion-home" ng-click="goHome()" translate="OVERVIEW"></button>
  </ion-nav-buttons>
  <ion-content>
    <form name="MSIS" novalidate>
      <div class="fill-vertical space">
        <div class="row">
          <div class="col col-50" translate="MSISQS2"></div>
          <div class="col" id="radiolabels" ng-repeat="buttons in data.MSIS.RADIOS">{{buttons.label}}</div>
        </div>

        <div class="row">
          <div class="col col-50" translate="MSISQE13"></div>
          <div class="col" ng-repeat="buttons in data.MSIS.RADIOS">
            <input type="radio" ng-model="MSIS2" ng-value="{{buttons.id}}" name="MSISQE13" required ng-change="setValue({{buttons.id}})"/>
          </div>
        </div>
        <div class="row">
          <div class="col col-50" translate="MSISQE14"></div>
          <div class="col" ng-repeat="buttons in data.MSIS.RADIOS">
            <input type="radio" ng-model="MSIS2" ng-value="{{buttons.id}}" name="MSISQE14" required ng-change="setValue({{buttons.id}})"/>
          </div>
        </div>
        <div class="row">
          <div class="col col-50" translate="MSISQE15"></div>
          <div class="col" ng-repeat="buttons in data.MSIS.RADIOS">
            <input type="radio" ng-model="MSIS3" ng-value="{{buttons.id}}" name="MSISQE15" required ng-change="setValue({{buttons.id}})"/>
          </div>
        </div>
        <div class="row">
          <div class="col col-50" translate="MSISQE16"></div>
          <div class="col" ng-repeat="buttons in data.MSIS.RADIOS">
            <input type="radio" ng-model="MSIS3" ng-value="{{buttons.id}}" name="MSISQE16" required ng-change="setValue({{buttons.id}})"/>
          </div>
        </div>
        <div class="row">
          <div class="col col-50" translate="MSISQE17"></div>
          <div class="col" ng-repeat="buttons in data.MSIS.RADIOS">
            <input type="radio" ng-model="MSIS3" ng-value="{{buttons.id}}" name="MSISQE17" required ng-change="setValue({{buttons.id}})"/>
          </div>
        </div>
        <div class="row">
          <div class="col col-50" translate="MSISQE18"></div>
          <div class="col" ng-repeat="buttons in data.MSIS.RADIOS">
            <input type="radio" ng-model="MSIS3" ng-value="{{buttons.id}}" name="MSISQE18" required ng-change="setValue({{buttons.id}})"/>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="button button-balanced button-block" ng-click="goMsis2()" translate="BACK"/>
          </div>
          <div class="col">
            <button class="button button-balanced button-block" ng-click="goMsis4()" ng-disabled="MSIS.MSIS3.$valid" translate="NEXT"/>
          </div>
        </div>
      </form>
    </ion-content>
  </ion-view>
