<ion-view view-title="MSIS-29">
  <ion-content>
    <form name="msis" novalidate="" ng-submit="saveMsis(form)">
      <div class="fill-vertical space">
        <div class="row">
          <div class="col col-60" translate="MsisQs1"></div>
    <div class="col" ng-repeat="buttons in data.Msis.Radios">{{buttons.label}}</div>
  </div>
  <div class="row" ng-repeat="text in data.Msis.Questions1">
    <div class="col col-60"><span ng-bind-html="text.text"></span></div>
      <div class="col" ng-repeat="buttons in data.Msis.Radios">
        <input type="radio" ng-model="text.value" ng-value="{{buttons.id}}" name="{{text.id}}" ng-required="yes"/>
      </div>
  </div>

  <div class="row">
      <div class="col col-60" translate="MsisQs1"></div>
  </div>
  <div class="row" ng-repeat="text in data.Msis.Questions2">
      <div class="col col-60"><span ng-bind-html="text.text"></span></div>
        <div class="col" ng-repeat="buttons in data.Msis.Radios">
          <input type="radio" ng-model="text.value" value="{{buttons.id}}" name="{{text.id}}" ng-required="yes"/>
        </div>
  </div>
  <div class="row">
    <button class="button button-positiv" type="submit" translate="Weiter"/>
  </div>

    </form>
  </ion-content>
  </ion-view>
