<ion-view view-title="Route Anleitung">
  <ion-content>
    <div class="fill-vertical-space">
    <div class = "row">
      <div class= "col col-40">
        <button class="button button-clear button-block" ng-click="goRoute()">
          <img src="img/frag.png" height="150" alt=""><img>
        </button>
      </div>
      <div class="col col-60">
        <button class="button button-block button-large button-light" ng-click="goRoute()" translate="Route"/>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
