<ion-view view-title="{{'ROUTE_INSTRUCTION' | translate}}">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out" ng-click="doLogout()" translate="LOGOUT"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button icon-left ion-home" ng-click="goHome()" translate="OVERVIEW"></button>
  </ion-nav-buttons>
  <ion-content>
    <h4>Wie funktioniert die Übung?</h4>
    <p>Der Computer gibt Ihen einen Weg durch das Labyrinth vor</p>
    <p>Der Weg wird Ihnen <b>einmal </b>gezeigt</p>
    <p>Versuchen Sie danach den gleichen Weg nachzumachen</p>
    <p>Die Übung ist beendet, wenn Sie beim Ende angelangt sind (Klicken auf Ende)</p>
    <p><b>Wichtig</b>: Sie sollten bei diesem Test ungestört sein!</p>
    <div class="row">
      <div class="col col-offset-10">
        <button class="button button-positive button-block" ng-click="playVideo()" translate="Videoanleitung"></div>
        <div class="col col-offset-10">
          <button class="button button-positive button-block" ng-click="goRoute()" translate="NEXT"/>
        </div>
        <div class="col col-10"></div>
      </div>
    </ion-content>
</ion-view>
