<ion-view view-title="MitrendS App 1.0">
  <ion-nav-buttons side="left">
    <button class="button" ng-click="showImpressum()">
      Impressum
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button" ng-click="doLogout()">
      Logout
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item item-thumbnail-left">
          <img ng-src="img/max.png" href="#/msis">
          <p name="Kernsymptome">Kernsymtome erfassen</p>
      </ion-item>
      <ion-item class="item item-thumbnail-left">
          <img ng-src="img/max.png" href="#/msis">
      </ion-item>
      <ion-item class="item item-thumbnail-left">
          <img ng-src="img/max.png" href="#/msis">
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
