<ion-view view-title="{{'SD_PREPARATION' | translate}}" cache-view="false">
  <ion-content>
    <!--<div class="modal transparent fullscreen-player" ng-click="closeModal()">
      <video ng-src="http://player.vimeo.com/external/85569724.sd.mp4?s=43df5df0d733011263687d20a47557e4" class="centerme" controls="controls" autoplay></video>
    </div>-->
    <div class="video-container" ng-click="closeModal()">
      <iframe src="http://player.vimeo.com/external/85569724.sd.mp4?s=43df5df0d733011263687d20a47557e4" allowfullscreen autoplay></iframe>
    </div>
  </ion-content>
</ion-view>
