<ion-view view-title="{{'SD_INSTRUCTION' | translate}}">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out" ng-click="doLogout()" translate="LOGOUT"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button icon-left ion-home" ng-click="goHome()" translate="HOME"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="row">
      <div class="col" translate="ZS-INSTRUCTION_TEXT_1"></div>
    </div>
    <div class="row">
      <div class="col" translate="ZS-INSTRUCTION_TEXT_2"></div>
    </div>
    <div class="row" ng-repeat="img in images track by $index">
      <div class="col col-80" translate="{{img.text}}"></div>
      <div class="col">
        <img ng-src="{{img.src_glass}}" ng-click="showImages($index)" class="image-list-thumb"/>
      </div>
    </div>

    <div class="row">
      <div class="col col-80" translate="ZS-INSTRUCTION_TEXT_6"></div>

    </div>
    <div class="row padding">
      <div class="col"></div>
    </div>
    <div class="row padding">
      <div class="col col-100 col-text-align-center" translate="ZS-INSTRUCTION_TEXT_7"></div>
    </div>

    <div class="row">
      <div class="col col-offset-10">
        <button class="button button-positive button-block" ng-click="playVideo()" translate="Videoanleitung"></div>
        <div class="col col-offset-10">
          <button class="button button-positive button-block" ng-click="goSD_Preparation()" translate="NEXT"/>
        </div>
        <div class="col col-10"></div>
      </div>
    </ion-content>
  </ion-view>
