<ion-view view-title="{{'SD_INSTRUCTION' | translate}}">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out" ng-click="doLogout()" translate="LOGOUT"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button icon-left ion-home" ng-click="goHome()" translate="OVERVIEW"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <h4>Wie funktioniert die Übung?</h4>
    <p>Jedes Zeichen ist genau einer Zahl zugeordnet.</p>

    <p>In der obersten Tabelle, der Referenztabelle, sehen sie welche
      <b>Zahl</b>
      welchem
      <b>Zeichen</b>
      zugeordnet ist.</p>

    <p>In der mittleren Tabelle, der Lösungstabelle, sind nur Zahlen eingetragen.</p>
    <p>
      In der untersten Tabelle, der Zeichentabelle, sehen sie die Zeichen, welche Sie anklicken können. Klicken Sie jeweils das Zeichen an, welches zur Zahl oberhalb des grünen Feldes gehört. Welches Zeichen das es ist, finden Sie anhand der
      Referenztabelle heraus.</p>

    <p>
      Durch klicken auf
      <b>Weiter</b>
      beginnen Sie die Vorbereitung. Dort haben Sie dreimal die Möglichkeit eine Reihe auszufüllen. Sobald Sie eine komplette Reihe korrekt ausgefüllt haben. Beginnt die eigentliche Übung, wofür Sie 120 Sekunden Zeit haben, soviele Felder wie möglich
      korrekt auszufüllen.</p>

    <p>
      <b>Wichtig</b>: Sie sollten bei diesem Test ungestört sein!
    </p>
    <div class="row">
      <div class="col col-offset-10">
        <button class="button button-positive button-block" ng-click="playVideo()" translate="Videoanleitung"></div>
        <div class="col col-offset-10">
          <button class="button button-positive button-block" ng-click="goSD_Preparation()" translate="NEXT"/>
        </div>
        <div class="col col-10"></div>
      </div>
    </ion-content>
  </ion-view>
