<ion-view view-title="Zahl-Symbol">
  <ion-content>
    <div class="row responsive-lg">
      <div class="col">
        <h4 align="center">Zahl</h4>
      </br>
    </br>
    <h4 algin="center">Symbol</h4>
  </div>
  <div class="col zs-col" ng-repeat="img in images">
    <img ng-src="{{img.numSrc}}" height="80px"/>
    <img ng-src="{{img.imgSrc}}" width="60px"/>
  </div>
  <div class="col"></div>
  <div class="col"></div>
</div>
<div class="row">empty</div>
<div class="row responsive-lg">
  <div class="col zs-col" ng-repeat="img in images2">
    <img ng-src="{{img.numSrc}}" height="80px"/>
    <img ng-src="{{img.imgSrc}}" width="80px"/>
  </div>
</div>
<div class="row">
  empty
</div>
<div class="row responsive-lg">
  <div class="col zs-col">
    <img ng-src="{{solveImg1}}" width="80px" ng-click="setValueImage(solveImg1)">
  </div>
  <div class="col zs-col">
    <img ng-src="{{solveImg2}}" width="80px" ng-click="setValueImage(solveImg2)">
  </div>
  <div class="col zs-col">
    <img ng-src="{{solveImg3}}" width="80px" ng-click="setValueImage(solveImg3)">
  </div>
  <div class="col zs-col">
    <img ng-src="{{solveImg4}}" width="80px" ng-click="setValueImage(solveImg4)">
  </div>
  <div class="col zs-col">
    <img ng-src="{{solveImg5}}" width="80px" ng-click="setValueImage(solveImg5)">
  </div>
  <div class="col zs-col">
    <img ng-src="{{solveImg6}}" width="80px" ng-click="setValueImage(solveImg6)">
  </div>
  <div class="col zs-col">
    <img ng-src="{{solveImg7}}" width="80px" ng-click="setValueImage(solveImg7)">
  </div>
  <div class="col zs-col">
    <img ng-src="{{solveImg8}}" width="80px" ng-click="setValueImage(solveImg8)">
  </div>
  <div class="col zs-col">
    <img ng-src="{{solveImg9}}" width="80px" ng-click="setValueImage(solveImg9)">
  </div>
</div>
</ion-content>
</ion-view>
