body {
  /*basic styling */
  font-size: 20px !important;
  height: 100%;
  vertical-align:bottom;
  /*flexbox
  display: flex;*/
}
.label{
  font-size: 20px !important;
}
/*Login*/
.row-login{
  height:33vh;
}
.col-login{
  height:100%;
  width:100%;
}
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.bfh50{
  width:50% !important;
}
.usz100{
  width:100 !important;
}
//MSIS
.fill-vertical-space {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fill-vertical-space>div, .fill-vertical-space>.row {
  -webkit-flex: 1;
  flex: 1;
}

.zs-col {
  border: 2px solid black;
  text-align: center;
}

#kernsymp{
  width: 70%;
  height: 100%;
}
#kernsymp_one{
  width: 70%;
  height: 120%;
}
#msis{
  width: 30%;
  height: 100%;
}
#radiolabels{
  text-align: center;
}
#questionlabels{
  vertical-align: middle;
}

/*Auswahl views*/


/*Impressum*/


/*MSIS*/


/* first trys


.msis{
  width: 100%;
  height: 100%;

}
.scroll {
  height: 100%;
}





*/
